body {
    background-color: #EEE;
}

#errormsg, #successmsg {
    display: none;
    box-shadow: 5px 5px 3px #888888;
    z-index: 999;
}

#errormsg {
    background-color: #8c0000;
    border-color: #ff0000;
    border-style: solid;
    border-width: 2px;
    color: #ff0000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

#successmsg {
    background-color: #188c00;
    border-color: #00ff00;
    border-style: solid;
    border-width: 2px;
    color: #00ff00;
}

#sidebarr {
    float: right;
    width: 20%;
}

#loginregisterbox {
    margin: auto;
    width: 300px;
}

#usercontent {
    margin: auto;
    /*width: -moz-calc(100% - 600px);
    width: -webkit-calc(100% - 600px);
    width: calc(100% - 600px);*/
    width: 60%;
    height: 100%;
}

#msginput {
    width: 100%;
    height: 30px;
    max-width: 100%;
}

#channelmessages {
    width: 100%;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    overflow: auto;
}

html, body {
    height: 100%;
    margin: 0;
}

#sidebarl
{
    width: 20%;
    float: left;
}

.chmessage
{
    
}

.unreadmsg
{
    background-color: #DDD;
}

#hoverdialogcont
{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#hoverdialogmid {
    display: table-cell;
    vertical-align: middle;
}

#hoverdialog
{
    width: 30%;
    background-color: #EEE;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 3px #888888;
}

.list
{
    width: 100%;
}
